.wrapper {
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}