@use "@/css/components/mixins/" as *;

.header {
    display: flex;
    padding: 0 1rem;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;

    .headerContainer {
        padding: 0 1rem;
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        max-width: 1232px;
        background-color: var(--background-l1);
        justify-content: space-between;
        border-radius: 0 0 10px 10px;
        
        @include shadow-small;
    }
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;

    img {
        height: 90%;
    }
}

.login {
    border-radius: 8px;
    padding: 8px 14px;
    background-color: rgb(110, 206, 201);
    color: white;

    transition: transform 0.1s ease;

    &:active {
        transform: scale(0.95);
    }
}

.nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    
    .link {
        font-weight: 500;
        transition: all 0.2s ease;

        &:hover {
            color: var(--blue)
        }
    }
}