:root {
    --text-color: #181818;
    --text-color-l1: #333333;
    --text-color-l2: #585858;

    --hover-overlay: rgba(99, 102, 241, 0.11);
    
    --background-l1: #fdfdfd;

    --radius: 12px;

    --blue: #231d5c;

    --border-color: #3b3b42;

    --scrollbar-color: #3a3c3f;
    --scrollbar-background: #00000000;

    --message-in: #2d2d2e;
    --message-out: #2b2c2cb6;

    --glass-border: #ffffff34;
    --glass-background: #a1a1a123;
    --glass-background-hover: #a1a1a131;

    --orange: #e48c44;
}