:root {
    --text-color: #181818;
    --text-color-l1: #333333;
    --text-color-l2: #585858;
    --text-color-l3: #6b7280;

    --hover-color: #585858;

    --hover-overlay: rgba(99, 102, 241, 0.11);
    
    --background-l1: #e8f3ff;
    --background-l2: #f5f5f5;

    --radius: 12px;

    --blue: #144d7b;

    --primary: #ff9f43;
    --primary-dark: #f98110;

    --border-color: #757576;
    --border-color-l1: #e5e7eb;

    --scrollbar-color: #7096cf;
    --scrollbar-background: #00000000;

    --message-in: #2d2d2e;
    --message-out: #2b2c2cb6;

    --glass-border: #ffffff34;
    --glass-background: #a1a1a123;
    --glass-background-hover: #a1a1a131;
}