.layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
        180deg,
        #c8f0ec 0%,
        #c8f0ec 50%,
        #fff 70%,
        #fff 100%
    );
    flex: 1;
}

.main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex: 1;
}