.layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--background-l1);
    flex: 1;
    min-height: 0;
    overflow: auto;
}

.main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex: 1;
}