@mixin thin-scrollbar {
    scrollbar-color: rgba(255,255,255,0.1) transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: thin;
    }

    /* фон */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* ползунок */
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.18);
        border-radius: 999px;
    }

    /* при наведении */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(48, 48, 48, 0.068);
    }
}

@mixin none-scrollbar {
    scrollbar-color: transparent transparent;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: none;
    }

    /* фон */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* ползунок */
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 999px;
    }

    /* при наведении */
    &::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
}